<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/news.css"%}">
 </head>
  <body>
    <h1>AZHAR MOVIES NEWS INFORMATION...HEADLINES OF TODAY</h1><hr>
    <ul>
      <li>{{news1|title}}</li>
      <li>{{news2|title}}</li>
      <li>{{news3|title}}</li>
      <li>{{news4|title}}</li>
      <li>{{news5|title}}</li>
    </ul>
    <img src="{%static "images/sunny.jpg"  %}">
    <img src="{%static "images/Pooja_hegde.jpg"  %}">
    <img src="{%static "images/IlleanaDcruz.jpg"  %}">
    <img src="{%static "images/Marjaavaan6.jpeg"  %}">
    <img src="{%static "images/SalmanKat.jpg"  %}">
    <img src="{%static "images/Motichoor.jpg"  %}">
    <img src="{%static "images/sunny1.jpg"  %}">
    <img src="{%static "images/sunny2.jpg"  %}">
    <img src="{%static "images/sunny.jpg"  %}">
    <img src="{%static "images/Pooja_hegde.jpg"  %}">
    <img src="{%static "images/IlleanaDcruz.jpg"  %}">
    <img src="{%static "images/SalmanKat.jpg"  %}">
  </body>
</html>
