<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{%static "css/news.css"%}">
 </head>
  <body>
    <h1>AZHAR SPORTS NEWS INFORMATION...HEADLINES OF TODAY</h1><hr>
    <ul>
      <li>{{news1|title}}</li>
      <li>{{news2|title}}</li>
      <li>{{news3|title}}</li>
      <li>{{news4|title}}</li>
      <li>{{news5|title}}</li>
    </ul>c
    <img src="{%static "images/Virat_Kohli_10.jpeg"  %}">
    <img src="{%static "images/Sania.jpg"  %}">
    <img src="{%static "images/BCCI.jpg"  %}">
    <img src="{%static "images/India.jpg"  %}">
    <img src="{%static "images/Sports.jpg"  %}">
    <img src="{%static "images/IndiaTeam.jpg"  %}">
    <img src="{%static "images/Dhoni.jpg"  %}">
    <img src="{%static "images/Australlia.jpg"  %}">
    <img src="{%static "images/Football.jpg"  %}">
    <img src="{%static "images/India.jpg"  %}">
    <img src="{%static "images/Sachin.jpg"  %}">
    <img src="{%static "images/Ronaldo.jpg"  %}">
  </body>
</html>
